<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#5642C5;
           font-size:200%;
           font-family:Arial;letter-spacing:0.5px">

<p width = 20%, style="padding: 10px;
              color:white;">
Lambda Functions and Pandas Transformations
              
</p>
</div>

Data Science Cohort Live NYC Feb 2022
<p>Phase 1: Topic 5</p>
<br>
<br>

<div align = "right">
<img src="flatiron-school-logo.png" align = "right" width="200"/>
</div>

#### Lambda Functions

- Lambda functions: simple way to write small, single use functions.
- Often used as argument in other functions:
    - E.g.,  `.map()` or `.apply()` method in pandas series/DataFrame

Let's see lambda functions aiding us in a sort operation:

#### Lambda functions within the `sort()` function
Sort this list on the last name.

In [16]:
# Without a key
names = ['Miriam Marks','Sidney Baird','Elaine Barrera','Eddie Reeves','Marley Beard',
         'Jaiden Liu','Bethany Martin','Stephen Rios','Audrey Mayer','Kameron Davidson',
         'Carter Wong','Teagan Bennett']
sorted(names)

['Audrey Mayer',
 'Bethany Martin',
 'Carter Wong',
 'Eddie Reeves',
 'Elaine Barrera',
 'Jaiden Liu',
 'Kameron Davidson',
 'Marley Beard',
 'Miriam Marks',
 'Sidney Baird',
 'Stephen Rios',
 'Teagan Bennett']

Hmmm...its sorting on the first character.
- Lambda function as argument: return last name as sorting key

In [20]:
# Sorting by last name
names = ['Miriam Marks','Sidney Baird','Elaine Barrera','Eddie Reeves','Marley Beard',
         'Jaiden Liu','Bethany Martin','Stephen Rios','Audrey Mayer','Kameron Davidson',
'Teagan Bennett']
sorted(names, key=lambda x: x.split()[1])

['Sidney Baird',
 'Elaine Barrera',
 'Marley Beard',
 'Teagan Bennett',
 'Kameron Davidson',
 'Jaiden Liu',
 'Miriam Marks',
 'Bethany Martin',
 'Audrey Mayer',
 'Eddie Reeves',
 'Stephen Rios']

#### Lambda functions with pandas `.map()`
Let's take a look at using lambda expressions on a Yelp ratings dataset.

In [22]:
import pandas as pd
df = pd.read_csv('data/Yelp_Reviews.csv', index_col=0).reset_index()
df.head(5)

,index,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

Simple example: naively select the year from the date string rather than convert it to a datetime object.

In [23]:
df.date.map(lambda x: x[:4]).head()

0    2012
1    2014
2    2014
3    2011
4    2016
Name: date, dtype: object

More realistic example:
- Get list of the length of each word in a given review.

In [42]:
df['text'][0]

'I love this place! My fiance And I go here atleast once a week. The portions are huge! Food is amazing. I love their carne asada. They have great lunch specials... Leticia is super nice and cares about what you think of her restaurant. You have to try their cheese enchiladas too the sauce is different And amazing!!!'

In [11]:
df['text'].map(lambda text: [len(word) for word in text.split()]).head()

0    [1, 4, 4, 6, 2, 6, 3, 1, 2, 4, 7, 4, 1, 5, 3, ...
1    [9, 3, 4, 6, 3, 4, 4, 3, 3, 3, 5, 3, 3, 2, 7, ...
2    [9, 7, 5, 3, 5, 2, 8, 4, 3, 4, 3, 7, 4, 7, 2, ...
3    [4, 5, 6, 3, 8, 7, 2, 9, 4, 4, 5, 4, 6, 3, 5, ...
4    [1, 4, 4, 2, 7, 4, 6, 3, 1, 6, 2, 6, 1, 4, 6, ...
Name: text, dtype: object

Variable name you use as parameter in `lambda` expression does not matter:

In [14]:
df['text'].map(lambda x: [len(word) for word in x.split()]).head()

0    [1, 4, 4, 6, 2, 6, 3, 1, 2, 4, 7, 4, 1, 5, 3, ...
1    [9, 3, 4, 6, 3, 4, 4, 3, 3, 3, 5, 3, 3, 2, 7, ...
2    [9, 7, 5, 3, 5, 2, 8, 4, 3, 4, 3, 7, 4, 7, 2, ...
3    [4, 5, 6, 3, 8, 7, 2, 9, 4, 4, 5, 4, 6, 3, 5, ...
4    [1, 4, 4, 2, 7, 4, 6, 3, 1, 6, 2, 6, 1, 4, 6, ...
Name: text, dtype: object

#### Lambda functions with conditionals
Lambda functions can also accept some conditionals if chained in a list comprehension

In [4]:
df['text'].map(lambda x: 'Good' if any([word in x.lower() for word in ['awesome', 'love', 'good', 'great']]) else 'Bad').head()

1     Good
2      Bad
4     Good
5      Bad
10     Bad
Name: text, dtype: object

##### Note
This is ugly, un-Pythonic and not in line with [PEP 8](https://www.python.org/dev/peps/pep-0008/).
- Guidline for max characters in a line: 72 
- Above: 127 characters.

#### Lambda functions with pandas `.apply()`

Let's go back to our trusty cereal dataset!

In [30]:
cereal_df = pd.read_csv('data/cereal.csv', index_col = 'name').drop(columns = ['shelf'])
cereal_df.head(2)

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,weight,cups,rating
name,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,1.0,1.00,33.983679

Now we want to apply a standardization transformation to the numeric columns of this dataframe:
- For each column subtract by its mean an divide by standard deviation: $$ \hat{x}_i^{col} = \frac{x_i^{col} - \mu^{col} }{s^{col}} $$

- `lambda` expression takes in a column (Series) in the Dataframe
- `.apply()`: applies to each column in DataFrame.

In [36]:
cereal_df.loc[:, 'calories':'rating'].apply(lambda col: (col - col.mean())/col.std(ddof = 1), axis = 0)

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,weight,cups,rating
name,,,,,,,,,,,,
100% Bran,-1.892984,1.328607,-0.012903,-0.353984,3.292847,-2.242931,-0.207447,2.580029,-0.145317,-0.196777,-2.110034,1.832188
100% Natural Bran,0.673209,0.415190,3.961373,-1.725771,-0.063754,-1.541825,0.242508,0.545993,-1.264260,-0.196777,0.769010,-0.618057
All-Bran,-1.892984,1.328607,-0.012903,1.196731,2.873272,-1.775527,-0.432425,3.141143,-0.145317,-0.196777,-2.110034,1.193099
All-Bran with Extra Fiber,-2.919461,1.328607,-1.006473,-0.234699,4.971147,-1.541825,-1.557313,3.281421,-0.145317,-0.196777,-1.379530,3.633385
Almond Delight,0.159970,-0.498228,0.980666,0.481016,-0.483329,-0.139614,0.242508,-1.361794,-0.145317,-0.196777,-0.305260,-0.589499
...,...,...,...,...,...,...,...,...,...,...,...,...
Triples,0.159970,-0.498228,-0.012903,1.077445,-0.902904,1.496299,-0.882380,-0.506095,-0.145317,-0.196777,-0.305260,-0.253396
Trix,0.159970,-1.411645,-0.012903,-0.234699,-0.902904,-0.373316,1.142419,-0.997070,-0.145317,-0.196777,0.769010,-1.061586
Wheat Chex,-0.353268,0.415190,-0.012903,0.838873,0.355821,0.561491,-0.882380,0.265436,-0.145317,-0.196777,-0.649027,0.506983
Wheaties,-0.353268,0.415190,-0.012903,0.481016,0.355821,0.561491,-0.882380,0.195297,-0.145317,-0.196777,0.769010,0.635460
Wheaties Honey Gold,0.159970,-0.498228,-0.012903,0.481016,-0.483329,0.327790,0.242508,-0.506095,-0.145317,-0.196777,-0.305260,-0.461167

This is a very important kind of transformation. We'll see it later in greater detail.

#### When to use lambda functions

- Single line of code
- Single use function
- Relatively easy to read.

#### When not to use lambda functions

- Several lines of code in lambda expression.
- Multiple conditions, loops, etc in function.
- Want to reuse this function often.

If it's hard for you to read, it's even harder for anyone else.