<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Motivation" data-toc-modified-id="Motivation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Motivation</a></span></li><li><span><a href="#Relational-Databases" data-toc-modified-id="Relational-Databases-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Relational Databases</a></span><ul class="toc-item"><li><span><a href="#Database-Schema" data-toc-modified-id="Database-Schema-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Database Schema</a></span></li><li><span><a href="#Columns" data-toc-modified-id="Columns-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Columns</a></span></li><li><span><a href="#Keys" data-toc-modified-id="Keys-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Keys</a></span></li></ul></li><li><span><a href="#SQLite" data-toc-modified-id="SQLite-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>SQLite</a></span><ul class="toc-item"><li><span><a href="#Sidebar:-More-About-SQLite" data-toc-modified-id="Sidebar:-More-About-SQLite-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><em>Sidebar: More About SQLite</em></a></span></li><li><span><a href="#Load-a-SQLite-DB" data-toc-modified-id="Load-a-SQLite-DB-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Load a SQLite DB</a></span></li><li><span><a href="#Query-the-airports-Table" data-toc-modified-id="Query-the-airports-Table-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Query the <code>airports</code> Table</a></span></li><li><span><a href="#pd.read_sql()" data-toc-modified-id="pd.read_sql()-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span><code>pd.read_sql()</code></a></span></li><li><span><a href="#Explore-the-Schema" data-toc-modified-id="Explore-the-Schema-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Explore the Schema</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Writing-SQL-Queries" data-toc-modified-id="Writing-SQL-Queries-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Writing SQL Queries</a></span><ul class="toc-item"><li><span><a href="#SELECT-Statement" data-toc-modified-id="SELECT-Statement-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>SELECT Statement</a></span></li><li><span><a href="#SELECT:-Picking-Columns" data-toc-modified-id="SELECT:-Picking-Columns-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>SELECT: Picking Columns</a></span><ul class="toc-item"><li><span><a href="#DISTINCT" data-toc-modified-id="DISTINCT-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span><code>DISTINCT</code></a></span></li><li><span><a href="#AS" data-toc-modified-id="AS-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span><code>AS</code></a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-5.2.3"><span class="toc-item-num">5.2.3&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Aggregation" data-toc-modified-id="Aggregation-5.2.3.1"><span class="toc-item-num">5.2.3.1&nbsp;&nbsp;</span>Aggregation</a></span></li><li><span><a href="#Datatype-Compatibility" data-toc-modified-id="Datatype-Compatibility-5.2.3.2"><span class="toc-item-num">5.2.3.2&nbsp;&nbsp;</span>Datatype Compatibility</a></span></li><li><span><a href="#CAST()" data-toc-modified-id="CAST()-5.2.3.3"><span class="toc-item-num">5.2.3.3&nbsp;&nbsp;</span><code>CAST()</code></a></span></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-5.2.4"><span class="toc-item-num">5.2.4&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#FROM:-Picking-Tables" data-toc-modified-id="FROM:-Picking-Tables-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>FROM: Picking Tables</a></span></li><li><span><a href="#WHERE:-Picking-Rows" data-toc-modified-id="WHERE:-Picking-Rows-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>WHERE: Picking Rows</a></span><ul class="toc-item"><li><span><a href="#IS" data-toc-modified-id="IS-5.4.1"><span class="toc-item-num">5.4.1&nbsp;&nbsp;</span><code>IS</code></a></span></li></ul></li><li><span><a href="#ORDER-BY:-Sorting-Results" data-toc-modified-id="ORDER-BY:-Sorting-Results-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>ORDER BY: Sorting Results</a></span></li><li><span><a href="#LIMIT:-Number-of-Results" data-toc-modified-id="LIMIT:-Number-of-Results-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>LIMIT: Number of Results</a></span></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Exercises</a></span><ul class="toc-item"><li><span><a href="#Country-List" data-toc-modified-id="Country-List-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Country List</a></span></li><li><span><a href="#Southern-Airports" data-toc-modified-id="Southern-Airports-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Southern Airports</a></span></li><li><span><a href="#Active-UK-Airlines" data-toc-modified-id="Active-UK-Airlines-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Active UK Airlines</a></span></li><li><span><a href="#Explore-Routes" data-toc-modified-id="Explore-Routes-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Explore Routes</a></span></li></ul></li><li><span><a href="#Level-Up:-CASE" data-toc-modified-id="Level-Up:-CASE-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Level Up: <code>CASE</code></a></span></li><li><span><a href="#Level-Up:-SQL-Joins" data-toc-modified-id="Level-Up:-SQL-Joins-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Level Up: SQL Joins</a></span></li></ul></div>

![sql](img/sql-logo.jpg)

# Objectives

- Describe relational databases
- Connect to a SQLite database and get schema information
- Use SQL SELECT and `pd.read_sql()` to query databases 
- Use WHERE, ORDER BY, and LIMIT to modify queries

# Motivation

Most data aren't stored in static files like CSVs or JSONs. Rather, data are typically stored in **databases** that make it easy for many users to store, update, share, and access data in real time. CSVs and JSONs are just extracts of some data from those databases.

**Structured Query Language (SQL)** is a common language for interacting with databases, and will be invaluable for you in almost any data role. You will use it often to get the data that you need for your analyses.

# Relational Databases

**Relational databases** typically have multiple **tables** containing data, and the tables have defined relationships.

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

## Database Schema

Each database has a **schema** that defines the structure of the database, including the tables and relationships between tables.

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

##  Columns

Similar to how DataFrames can have multiple Series, tables can have multiple **columns** (aka "fields"). Each column has a datatype, but the datatypes available for SQL table columns differ from the datatypes in `pandas`.

![table example](img/columns.png)

## Keys

A **primary key** uniquely identifies each row in a table. This is often a unique ID number.
A **foreign key** is used in one table to refer to the primary key from another table.

We **join** tables using these keys to get data from multiple tables at once - we will cover this in a future lesson on SQL Joins.

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

# SQLite

![sqlite](img/SQLite-Python.jpg)

SQLite is one of many tools that exist to create databases. We use it here because it is easy to integrate into a Jupyter Notebook using the `sqlite3` package. 

There are many other database tools out there, and they all work somewhat differently with their own SQL dialects. Just know that the specific methods or syntax you see here will differ slightly in other database implementations.

## _Sidebar: More About SQLite_

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## Load a SQLite DB

Import the `sqlite3` package, which will allow us to load a SQLite database.

In [ ]:
import sqlite3

In this repository is a `flights.db` file that we can open as a SQLite database. This database contains tables with information about airlines, airports, and flight routes.

In [ ]:
!ls

First, we'll use the `sqlite3` package to create a connection to the database, which is currently just stored in that file on our hard drive.

In [ ]:
con = sqlite3.connect('flights.db')

Next, we'll create a cursor to interact with the database. Like the cursor for your mouse interacts with pixels on your screen, this cursor will allow us to interact with the elements of the database.

In [ ]:
cursor = con.cursor()

## Query the `airports` Table

We will write a simple query using the SQL SELECT statement, which returns data from the database. We write the query as a string, which will then get parsed via the `sqlite3` package.

In this case, we say `SELECT *` to specify that we want data from all columns, and we say `FROM airports` to specify that we want data from the `airports` table.

In [ ]:
airports_query = \
"""
SELECT *
FROM airports
"""

To run this query, we use the `.execute()` method with our cursor.

In [ ]:
cursor.execute(airports_query)

Note that the `.execute()` method didn't actually return our data. The data is now just available in our cursor object. We'll use the `.fetchall()` method to get all the rows from our query.

In [ ]:
cursor.fetchall()

Looks like we got some data, but it's not clear what each element represents. We can view the column names in the cursor's `description` attribute.

In [ ]:
cursor.description

## `pd.read_sql()`

We can get the data and the column names into a nice, tidy DataFrame using `pd.read_sql()`

In [ ]:
import pandas as pd

airports_df = pd.read_sql(airports_query, con)
airports_df.head()

## Explore the Schema

In SQLite, the schema of our database lives in the `sqlite_master` table. More info [here](https://www.techonthenet.com/sqlite/sys_tables/index.php).

In [ ]:
schema_df = pd.read_sql("""

SELECT *
FROM sqlite_master

""", con)

schema_df

It looks like there are three tables in our database: airports, airlines, and routes. Each table also has an **index**, which is used to optimize queries for large databases. 

The column names and datatypes for each table are defined in the schema in the `sql` column.

In [ ]:
# Airports table info

print(schema_df['sql'].iloc[0])

## Exercise

Get the columns and datatypes for the airlines table. You can do this with either `pd.read_sql()` or the schema table.

<details>
    <summary><b><u>Click Here for Answer Code</u></b></summary>

```python 
pd.read_sql("""

SELECT *       
FROM airlines

""", con).info()
```

OR

```python 
print(schema_df['sql'].iloc[2])
```
</details>

In [ ]:
# Your work here

# Writing SQL Queries

In this section we will build SQL queries using the SELECT statement, showing off a bunch of different clauses and options available.

## SELECT Statement

SELECT statements can have multiple **clauses**, which must be included in a specific order (more info [here](https://sqlite.org/lang_select.html)). Only SELECT and FROM are required.

Let's explore the following clauses and structure:

```sql
SELECT columns
FROM table
WHERE condition
ORDER BY columns
LIMIT number
```

## SELECT: Picking Columns

Add the names of the columns that you want after the word `SELECT`, or use `*` to get all columns.

In [ ]:
pd.read_sql("""

SELECT city, country
FROM airports

""", con)

### `DISTINCT`

Use `DISTINCT` to drop duplicates.

In [ ]:
pd.read_sql("""

SELECT DISTINCT city, country
FROM airports

""", con)

### `AS`

Use `AS` to rename columns.

In [ ]:
pd.read_sql("""

SELECT city AS "Airport City", 
       country AS "Airport Country"
FROM airports

""", con)

### Functions

There are dozens of functions that you can use in SELECT statements to modify results - you can see some examples [here](https://sqlite.org/lang_corefunc.html).

In [ ]:
pd.read_sql("""

SELECT UPPER(name) AS "AIRPORT NAMES IN CAPS",
       LENGTH(name) AS "Airport Name Length"
       
FROM airports

""", con)

#### Aggregation

Some functions will aggregate your data and return a table with one row.

In [ ]:
pd.read_sql("""

SELECT COUNT() AS "Number of Airports"
FROM airports

""", con)

#### Datatype Compatibility

Make sure that your column is the right datatype for the function to avoid unexpected results.

In [ ]:
pd.read_sql("""

SELECT name AS "Airport Name", 
       MAX(altitude) AS "Altitude (ft)"
       
FROM airports

""", con)

#### `CAST()`

You could fix this using the `CAST()` function.

In [ ]:
pd.read_sql("""

SELECT name AS "Airport Name", 
       MAX(CAST(altitude as int)) AS "Altitude (ft)"
       
FROM airports

""", con)

### Exercise

Which country has the northern-most airport? 

> _Hint: Look for the highest latitude_

<details>
    <summary><b><u>Click Here for Answer Code</u></b></summary>

```python 
pd.read_sql("""

SELECT country AS "Country", 
       MAX(CAST(latitude as int)) AS "Latitude"

FROM airports

""", con)
```
</details>

In [ ]:
# Your work here

## FROM: Picking Tables

The `FROM` clause specifies the tables you get data from. You can use aliases here with `AS` - this will be useful for more complex queries involving multiple tables.

In [ ]:
pd.read_sql("""

SELECT ap.name AS "Airport Name", 
       MAX(CAST(ap.altitude AS int)) AS "Altitude (ft)"
       
FROM airports AS ap

""", con)

## WHERE: Picking Rows

The `WHERE` clause filters results from your query. This uses conditional logic and operators similar to Python's - you can find more [here](https://sqlite.org/lang_expr.html).

In [ ]:
pd.read_sql("""

SELECT name AS "Airport Name", 
       CAST(latitude AS int) AS "Airport Latitude",
       CAST(altitude AS int) AS "Altitude (ft)"
       
FROM airports

WHERE "Altitude (ft)" >= 10000 AND
      "Airport Latitude" BETWEEN 20 AND 50

""", con)

### `IS`

The `IS` operator is useful when working with `NULL` values - other operators will not work as expected.

In [ ]:
pd.read_sql("""

SELECT name AS "Airport Name",
       code AS "Airport Code"
       
FROM airports

WHERE "Airport Code" IS NOT NULL

""", con)

## ORDER BY: Sorting Results

Use `ORDER BY` to identify the column(s) you want to sort on. Specify `ASC` for ascending order, `DESC` for descending order.

In [ ]:
pd.read_sql("""

SELECT name AS "Airport Name", 
       CAST(latitude AS int) AS "Airport Latitude",
       CAST(altitude AS int) AS "Altitude (ft)"
       
FROM airports

WHERE "Altitude (ft)" >= 10000

ORDER BY "Airport Latitude" DESC,
         "Altitude (ft)" DESC 
         
""", con)

## LIMIT: Number of Results

Specify the maximum number of results you want

In [ ]:
pd.read_sql("""

SELECT name AS "Airport Name", 
       CAST(latitude AS int) AS "Airport Latitude",
       CAST(altitude AS int) AS "Altitude (ft)"
       
FROM airports

WHERE "Altitude (ft)" >= 10000

ORDER BY "Airport Latitude" DESC,
         "Altitude (ft)" DESC 
         
LIMIT 10

""", con)

# Exercises

## Country List

Create a list of countries with airports and order them alphabetically A-Z.

> _Hint: You will need to remove duplicates._

<details>
    <summary><b><u>Click Here for Answer Code</u></b></summary>

```python 
pd.read_sql("""

SELECT DISTINCT country
FROM airports
ORDER BY country ASC

""", con)
```
</details>

In [ ]:
# Your work here

## Southern Airports

Get the name, country and latitude of the 10 southern-most airports. 

> _Hint: Look for the smallest latitude._

<details>
    <summary><b><u>Click Here for Answer Code</u></b></summary>

```python 
pd.read_sql("""

SELECT name, country, CAST(latitude AS int) AS "Airport Latitude"
FROM airports
ORDER BY "Airport Latitude" ASC
LIMIT 10

""", con)
``` 
</details>

In [ ]:
# Your work here

## Active UK Airlines

Create a list of active airlines in the United Kingdom from the airlines table. 

> _Hint: You will need to explore the airlines table to figure out how to do this._

<details>
    <summary><b><u>Click Here for Answer Code</u></b></summary>

```python 
pd.read_sql("""

SELECT name
FROM airlines
WHERE active='Y'
AND country='United Kingdom'

""", con)
```
</details>

In [ ]:
# Your work here

## Explore Routes

Get the column names from the routes table and inspect some raw data. Which columns might be keys that connect this table to the other two tables?

<details>
    <summary><b><u>Click Here for Answer Code</u></b></summary>

```python 
pd.read_sql("""

SELECT *
FROM routes
LIMIT 5

""", con)
```   
> The airline_id is a foreign key to the airlines table, the source_id and dest_id columns are foreign keys to the airports table
    
</details>

In [ ]:
# Your work here

# Level Up: `CASE`

Use `CASE` to create new columns using conditional logic.

In [ ]:
pd.read_sql("""

SELECT name AS "Airport Name", 
       CAST(altitude AS int) AS "Altitude (ft)",
       CASE 
            WHEN CAST(altitude AS int) > 1000 THEN "High"
            WHEN CAST(altitude AS int) < 100 THEN "Low"
            ELSE "Moderate"
       END AS "Altitude Category"
       
FROM airports
         
LIMIT 20

""", con)

# Level Up: SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](img/venn.png)

How are these different joins possible?

Notice that I choose a column from each table "on" which to effect the join. This is the means by which I pair up the records from one table with the records of another.

Look back up at the sample diagram under "What is a Relational Database?". We might use the "student_id" column to match up names in the names table with grades in the grades table. But what if there are values in one table's version of "student_id" that don't appear in the other table's version? In that case we need to let the software know whether or not we want to have *all* of the records, regardless of whether they have corresponding entries in all the tables we are joining. This makes for the variety depicted above.

- If I select records from "A INNER JOIN B", then a record will be displayed *only if it exists in both tables*.

- If I select records from "A LEFT JOIN B", then *all relevant records from A will be displayed*, regardless of whether they have representation in B. Records from B with no representation in A will *not* be displayed.

In [ ]:
pd.read_sql("""

    SELECT p.name, l.name, p.country
    FROM airports p
    LEFT JOIN airlines l
    ON p.country=l.country
    ORDER BY l.name
    LIMIT 5
    
""", con)

In [ ]:
pd.read_sql("""
    
    SELECT p.name, l.name, p.country
    FROM airports p
    INNER JOIN airlines l
    ON p.country=l.country
    ORDER BY l.name
    LIMIT 5
    
""", con)