<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#5642C5;
           font-size:200%;
           font-family:Arial;letter-spacing:0.5px">

<p width = 20%, style="padding: 10px;
              color:white;">
Pandas: Data Selection by Boolean Masking
</p>
</div>

Data Science Cohort Live NYC Feb 2022
<p>Phase 1: Topic 4</p>
<br>
<br>

<div align = "right">
<img src="Images/flatiron-school-logo.png" align = "right" width="200"/>
</div>

#### The Boolean Mask 

Test whether a condition is true or not over an entire series of data and using criterion for selection.
<br>
<br>
<figure><center><img src="Images/boolean.jpg" width="250"/></center>
    
   </figure>
   <figcaption><center> Mask inspired by the Kran people of Liberia and Ivory Coast. </center></figcaption>

Remind ourselves of the structure of cereals DataFrame:

In [1]:
import numpy as np
import pandas as pd

cereal_df = pd.read_csv('Data/cereal.csv', index_col = 'name')
cereal_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 100% Bran to Wheaties Honey Gold
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mfr       77 non-null     object
 1   type      77 non-null     object
 2   calories  77 non-null     int64
 3   protein   77 non-null     int64
 4   fat       77 non-null     int64
 5   sodium    77 non-null     int64
 6   fiber     77 non-null     float64
 7   carbo     77 non-null     float64
 8   sugars    77 non-null     int64
 9   potass    77 non-null     int64
 10  vitamins  77 non-null     int64
 11  shelf     77 non-null     int64
 12  weight    77 non-null     float64
 13  cups      77 non-null     float64
 14  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(2)
memory usage: 9.6+ KB

In [2]:
cereal_df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

#### The Boolean Part of 'Boolean Mask'

Testing conditions on pandas Series and DataFrames.

Cereal has sugar content in the top 25% bracket?

In [3]:
cereal_df['sugars'] >= 11

name
100% Bran                    False
100% Natural Bran            False
All-Bran                     False
All-Bran with Extra Fiber    False
Almond Delight               False
                             ...
Triples                      False
Trix                          True
Wheat Chex                   False
Wheaties                     False
Wheaties Honey Gold          False
Name: sugars, Length: 77, dtype: bool

Clearly Trix should not be for kids...

- Tests condition for all rows (very quick) 
- Returns a pandas Series with Boolean values.
    - Is the result a True or False for given row?

More complex Boolean conditions with | (OR) and & (AND):

In [4]:
(cereal_df['sugars'] >= 11) & (cereal_df['potass'] <= 20)

name
100% Bran                    False
100% Natural Bran            False
All-Bran                     False
All-Bran with Extra Fiber    False
Almond Delight               False
                             ...
Triples                      False
Trix                         False
Wheat Chex                   False
Wheaties                     False
Wheaties Honey Gold          False
Length: 77, dtype: bool

Test whether cereal is manufactured by General Mills or Kellog's

In [5]:
(cereal_df['mfr'] == 'G')|(cereal_df['mfr'] == 'K')

name
100% Bran                    False
100% Natural Bran            False
All-Bran                      True
All-Bran with Extra Fiber     True
Almond Delight               False
                             ...
Triples                       True
Trix                          True
Wheat Chex                   False
Wheaties                      True
Wheaties Honey Gold           True
Name: mfr, Length: 77, dtype: bool

#### Other useful Pandas in-built Boolean operations:

- .isin()
- .str.contains()
- The ~ operator.

Check whether manufactured by Nabisco, General Mills, or Kellogs:

In [6]:
mfr_list = ['N', 'G', 'K']
cereal_df['mfr'].isin(mfr_list)

name
100% Bran                     True
100% Natural Bran            False
All-Bran                      True
All-Bran with Extra Fiber     True
Almond Delight               False
                             ...
Triples                       True
Trix                          True
Wheat Chex                   False
Wheaties                      True
Wheaties Honey Gold           True
Name: mfr, Length: 77, dtype: bool

In [7]:
# ~ negates logical statement
~cereal_df['mfr'].isin(mfr_list)

name
100% Bran                    False
100% Natural Bran             True
All-Bran                     False
All-Bran with Extra Fiber    False
Almond Delight                True
                             ...
Triples                      False
Trix                         False
Wheat Chex                    True
Wheaties                     False
Wheaties Honey Gold          False
Name: mfr, Length: 77, dtype: bool

.str library contains fast string operations across Series/Dataframes

Series.str.contains(...) checks whether each row has a string containing given substring.

Can pass this on a given column or on the index:

In [8]:
cereal_df.index

Index(['100% Bran', '100% Natural Bran', 'All-Bran',
       'All-Bran with Extra Fiber', 'Almond Delight',
       'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4', 'Bran Chex',
       'Bran Flakes', 'Cap'n'Crunch', 'Cheerios', 'Cinnamon Toast Crunch',
       'Clusters', 'Cocoa Puffs', 'Corn Chex', 'Corn Flakes', 'Corn Pops',
       'Count Chocula', 'Cracklin' Oat Bran', 'Cream of Wheat (Quick)',
       'Crispix', 'Crispy Wheat & Raisins', 'Double Chex', 'Froot Loops',
       'Frosted Flakes', 'Frosted Mini-Wheats',
       'Fruit & Fibre Dates; Walnuts; and Oats', 'Fruitful Bran',
       'Fruity Pebbles', 'Golden Crisp', 'Golden Grahams', 'Grape Nuts Flakes',
       'Grape-Nuts', 'Great Grains Pecan', 'Honey Graham Ohs',
       'Honey Nut Cheerios', 'Honey-comb', 'Just Right Crunchy  Nuggets',
       'Just Right Fruit & Nut', 'Kix', 'Life', 'Lucky Charms', 'Maypo',
       'Muesli Raisins; Dates; & Almonds', 'Muesli Raisins; Peaches; & Pecans',
       'Mueslix Crispy Blend', 'Multi-Grain Cheerios', 'Nut&Honey Crunch',
       'Nutri-Grain Almond-Raisin', 'Nutri-grain Wheat',
       'Oatmeal Raisin Crisp', 'Post Nat. Raisin Bran', 'Product 19',
       'Puffed Rice', 'Puffed Wheat', 'Quaker Oat Squares', 'Quaker Oatmeal',
       'Raisin Bran', 'Raisin Nut Bran', 'Raisin Squares', 'Rice Chex',
       'Rice Krispies', 'Shredded Wheat', 'Shredded Wheat 'n'Bran',
       'Shredded Wheat spoon size', 'Smacks', 'Special K',
       'Strawberry Fruit Wheats', 'Total Corn Flakes', 'Total Raisin Bran',
       'Total Whole Grain', 'Triples', 'Trix', 'Wheat Chex', 'Wheaties',
       'Wheaties Honey Gold'],
      dtype='object', name='name')

In [9]:
cereal_df.index.str.contains('Bran')

array([ True,  True,  True,  True, False, False, False, False,  True,
        True, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False,  True,  True, False, False, False,
       False,  True, False, False, False, False, False,  True, False,
       False, False, False, False, False])

#### The "mask" part of Boolean mask

- Can select on our True/False series.
- Selector takes in Boolean series.
- Indices for which condition is True get selected.

In [10]:
# inputting Boolean mask into df. 
cereal_df[cereal_df['sugars'] >= 11].head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.0,1.00,33.174094
Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.0,0.75,18.042851
Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.0,1.00,22.736446
Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.0,1.00,35.782791
Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.0,1.00,22.396513

Yeah that makes sense.

Now, select cereals manufactured by Nabisco, General Mills, or Kellogs.

In [11]:
cereal_df[cereal_df['mfr'].isin(mfr_list)].head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.0,1.00,33.174094

Now, select all cereals with the word 'Bran' in the name.

In [12]:
cereal_df[cereal_df.index.str.contains('Bran')]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
Fruitful Bran,K,C,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
Post Nat. Raisin Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594
Raisin Bran,K,C,120,3,1,210,5.0,14.0,12,240,25,2,1.33,0.75,39.259197
Raisin Nut Bran,G,C,100,3,2,140,2.5,10.5,8,140,25,3,1.00,0.50,39.703400
Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.00,0.67,74.472949
Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.50,1.00,28.592785

#### Combining masks with the .loc[] accessor

- Combine boolean selections + column selections
- Complex selections start to get easier
- DataFrame.loc[row_filtering, columns]

Let's find all cereals with the name 'Bran' in it and high sugar content.
Want sodium, fiber, carb and sugar info only.

In [2]:
cereal_df.loc[(cereal_df['sugars'] > 11) & cereal_df.index.str.contains('Bran'), 'sodium':'sugars']

                       sodium  fiber  carbo  sugars
name
Fruitful Bran             240    5.0   14.0      12
Post Nat. Raisin Bran     200    6.0   11.0      14
Raisin Bran               210    5.0   14.0      12
Total Raisin Bran         190    4.0   15.0      14