<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#5642C5;
           font-size:200%;
           font-family:Arial;letter-spacing:0.5px">

<p width = 20%, style="padding: 10px;
              color:white;">
Pandas: Importing Data
              
</p>
</div>

Data Science Cohort Live NYC Feb 2022
<p>Phase 1: Topic 4</p>
<br>
<br>

<div align = "right">
<img src="Images/flatiron-school-logo.png" align = "right" width="200"/>
</div>

Pandas can import/export data from/to a variety of file formats and sources:
    
- import data from CSV, JSON, Excel  spreadsheet  
- Use pandas to export a DataFrame to a file

In [1]:
# import our libraries
import numpy as np
import pandas as pd

Pandas functions for importing files into (or creating) DataFrames:
* `pd.read_csv()`
* `pd.read_excel()`
* `pd.read_json()`
* `pd.DataFrame.from_dict()`

CSV import:
- Example: data on patient's blood pressure:
`'bp.txt'`, stored in the `Data` folder.

In [2]:
# Import 'bp.txt' file. Tab separated entries.
df = pd.read_csv('Data/bp.txt', delimiter='\t')
# if delimiter is not specified assumes ',' delimiter

In [3]:
# Look at the first 3 rows
df.head(3)

   Pt   BP  Age  Weight   BSA  Dur  Pulse  Stress
0   1  105   47    85.4  1.75  5.1     63      33
1   2  115   49    94.2  2.10  3.8     70      14
2   3  116   49    95.3  1.98  8.2     72      10

In [4]:
# Look at the last 4 rows
df.tail(4)

    Pt   BP  Age  Weight   BSA  Dur  Pulse  Stress
16  17  106   46    87.0  1.87  3.6     62      18
17  18  113   46    94.5  1.90  4.3     70      12
18  19  110   48    90.5  1.88  9.0     71      99
19  20  122   56    95.7  2.09  7.0     75      99


#### Skipping and Limiting Rows

- Skipping rows: ignore metadata stored at the top of a file. Optional parameter `skiprows`. 
- Limit number of rows loaded: `nrows` parameter.

Let's look at another dataset:

In [5]:
# Import the first 100 rows of 'ACS_16_5YR_B24011_with_ann.csv' file
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', nrows=100)

# Look at the first five rows
df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD32,HD02_VD32,HD01_VD33,HD02_VD33,HD01_VD34,HD02_VD34,HD01_VD35,HD02_VD35,HD01_VD36,HD02_VD36
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Management, business, scien...","Margin of Error; Total: - Management, business...","Estimate; Total: - Management, business, scien...","Margin of Error; Total: - Management, business...","Estimate; Total: - Management, business, scien...",...,"Estimate; Total: - Natural resources, construc...","Margin of Error; Total: - Natural resources, c...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor..."
1,0500000US01001,01001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
2,0500000US01003,01003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
3,0500000US01005,01005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
4,0500000US01007,01007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942

#### Notice the first row is descriptions of the variables

Could just drop the first row:

In [7]:
# Delete the first row
df = df.drop(0)
df.head(2)

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD32,HD02_VD32,HD01_VD33,HD02_VD33,HD01_VD34,HD02_VD34,HD01_VD35,HD02_VD35,HD01_VD36,HD02_VD36
1,0500000US01001,01001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
2,0500000US01003,01003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580

Or if we knew from the start, we could use the skiprows argument:

In [8]:
# Import the first 100 rows of 'ACS_16_5YR_B24011_with_ann.csv' file while skipping the first row
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', skiprows= [1], nrows=100)
df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD32,HD02_VD32,HD01_VD33,HD02_VD33,HD01_VD34,HD02_VD34,HD01_VD35,HD02_VD35,HD01_VD36,HD02_VD36
0,0500000US01001,1001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
1,0500000US01003,1003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
2,0500000US01005,1005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
3,0500000US01007,1007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942
4,0500000US01009,1009,"Blount County, Alabama",34900,2063,46593,2963,47003,6189,50991,...,42489,7176,32969,3767,31814,4551,41375,5280,26755,2963

#### Header

Related to `skiprows` is the `header` parameter:
- header = the row where column names are and starts importing data from that point.
- Set data description row as our header for fun.

In [6]:
# Look at the error output once you run this cell. What type of error is it?
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', header=1)
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 21229: invalid continuation byte

## Encoding

Encoding errors:
- Strings within the file are formatted according to encoding scheme. 
- Most common encoding: `utf-8` (default)
- Second most common: `latin-1`

In [7]:
# Import the 'ACS_16_5YR_B24011_with_ann.csv' file using a proper encoding
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', header=1, encoding='latin-1')
df.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Management, business, science, and arts occupations:","Margin of Error; Total: - Management, business, science, and arts occupations:","Estimate; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations:","Margin of Error; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations:","Estimate; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations: - Management occupations",...,"Estimate; Total: - Natural resources, construction, and maintenance occupations: - Installation, maintenance, and repair occupations","Margin of Error; Total: - Natural resources, construction, and maintenance occupations: - Installation, maintenance, and repair occupations","Estimate; Total: - Production, transportation, and material moving occupations:","Margin of Error; Total: - Production, transportation, and material moving occupations:","Estimate; Total: - Production, transportation, and material moving occupations: - Production occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Production occupations","Estimate; Total: - Production, transportation, and material moving occupations: - Transportation occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Transportation occupations","Estimate; Total: - Production, transportation, and material moving occupations: - Material moving occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Material moving occupations"
0,0500000US01001,1001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
1,0500000US01003,1003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
2,0500000US01005,1005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
3,0500000US01007,1007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942
4,0500000US01009,1009,"Blount County, Alabama",34900,2063,46593,2963,47003,6189,50991,...,42489,7176,32969,3767,31814,4551,41375,5280,26755,2963

#### Selecting Specific Columns  

You can also select specific columns if you only want to load specific features.

In [12]:
# Import the file with specific columns
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', 
                 usecols=[0, 1, 2, 5, 6], skiprows = [1], encoding='latin-1')
df.head(2)

           GEO.id  GEO.id2        GEO.display-label  HD01_VD02  HD02_VD02
0  0500000US01001     1001  Autauga County, Alabama      48819       1806
1  0500000US01003     1003  Baldwin County, Alabama      49524       1811

**or**

In [8]:
# Import the file with specific columns
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', skiprows = [1], usecols=['GEO.id', 'GEO.id2', 'HD01_VD02', 'HD02_VD02'], encoding='latin-1')
df.head(2)

           GEO.id  GEO.id2  HD01_VD02  HD02_VD02
0  0500000US01001     1001      48819       1806
1  0500000US01003     1003      49524       1811

#### Importing Excel files
Pretty similar to csv importing.

Load in an excel file containing some Yelp reviews.

In [14]:
# Import an Excel file
df1 = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx', header=2)
df1.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,RESDUcs7fIiihp38-d6_6g,0,2015-09-16,0,gkcPdbblTvZDMSwx8nVEKw,5,Got here early on football Sunday 7:30am as I ...,0,SKteB5rgDlkkUa1Zxe1N0Q
1,RESDUcs7fIiihp38-d6_6g,0,2017-09-09,0,mQfl6ci46mu0xaZrkRUhlA,5,"This buffet is amazing. Yes, it is expensive,...",0,f638AHA_GoHbyDB7VFMz7A
2,RESDUcs7fIiihp38-d6_6g,0,2013-01-14,0,EJ7DJ8bm7-2PLFB9WKx4LQ,3,I was really looking forward to this but it wa...,0,-wVPuTiIEG85LwTK46Prpw
3,RESDUcs7fIiihp38-d6_6g,0,2017-02-08,0,lMarDJDg4-e_0YoJOKJoWA,2,This place....lol our server was nice. But fo...,0,A21zMqdN76ueLZFpmbue0Q
4,RESDUcs7fIiihp38-d6_6g,0,2012-11-19,0,nq_-8lZPUVGomDEP5OOj1Q,1,"After hearing all the buzz about this place, I...",2,Jf1EXieUV7F7s-HGA4EsdA

But wait a minute...Excel file often has multiple sheets:

- By default, Excel imports first sheet.
- Excel file may contain multiple sheets.

If we know which sheet we want to import by sheet number:

In [15]:
# Import a specific sheet of an Excel file
df2 = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx', sheet_name=2, header=2)
df2.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,YJ8ljUhLsz6CtT_2ORNFmg,1,2013-04-25,0,xgUz0Ck4_ciNaeIk-H8GBQ,5,I loved this place. Easily the most hipsters p...,1,6cpo8iqgnW3jnozhmY7eAA
1,YJ8ljUhLsz6CtT_2ORNFmg,0,2014-07-07,0,Au7MG4QlAxqq9meyKSQmaw,5,So my boyfriend and I came here for my birthda...,0,8bFE3u1dMoYXkS7ORqlssw
2,YJ8ljUhLsz6CtT_2ORNFmg,0,2015-12-04,0,8IQnZ54nenXjlK-FGZ82Bg,5,I really enjoyed their food. Went there for th...,1,bJmE1ms0MyZ6KHjmfZDWGw
3,YJ8ljUhLsz6CtT_2ORNFmg,2,2016-07-06,1,XY42LMhKoXzwtLoku4mvLA,5,A complete Vegas experience. We arrived right ...,3,PbccpC-I-8rxzF2bCDh8YA
4,YJ8ljUhLsz6CtT_2ORNFmg,0,2014-04-15,0,1xlYVWhyLedoA0HddOJMOw,4,Very great atmosphere had a wonderful bartende...,0,yvlRColhqo_4TzpUFKyroA

Or by sheet name:

In [9]:
# Import a specific sheet of an Excel file
df = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx', sheet_name='Biz_id_RESDU', header=2)
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,RESDUcs7fIiihp38-d6_6g,0,2015-09-16,0,gkcPdbblTvZDMSwx8nVEKw,5,Got here early on football Sunday 7:30am as I ...,0,SKteB5rgDlkkUa1Zxe1N0Q
1,RESDUcs7fIiihp38-d6_6g,0,2017-09-09,0,mQfl6ci46mu0xaZrkRUhlA,5,"This buffet is amazing. Yes, it is expensive,...",0,f638AHA_GoHbyDB7VFMz7A
2,RESDUcs7fIiihp38-d6_6g,0,2013-01-14,0,EJ7DJ8bm7-2PLFB9WKx4LQ,3,I was really looking forward to this but it wa...,0,-wVPuTiIEG85LwTK46Prpw
3,RESDUcs7fIiihp38-d6_6g,0,2017-02-08,0,lMarDJDg4-e_0YoJOKJoWA,2,This place....lol our server was nice. But fo...,0,A21zMqdN76ueLZFpmbue0Q
4,RESDUcs7fIiihp38-d6_6g,0,2012-11-19,0,nq_-8lZPUVGomDEP5OOj1Q,1,"After hearing all the buzz about this place, I...",2,Jf1EXieUV7F7s-HGA4EsdA

#### Loading a Full Workbook and Previewing Sheet Names
Load entire excel workbook (which is a collection of spreadsheets) with the `pd.ExcelFile()` function.

In [11]:
# Import the names of Excel sheets in a workbook
workbook = pd.ExcelFile('Data/Yelp_Selected_Businesses.xlsx')
workbook.sheet_names

['Biz_id_RESDU',
 'Biz_id_4JNXU',
 'Biz_id_YJ8lj',
 'Biz_id_ujHia',
 'Biz_id_na4Th']

In [18]:
# Import a specific sheet
df = workbook.parse(sheet_name=1, header=2)
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,4JNXUYY8wbaaDmk3BPzlWw,0,2012-06-10,0,wl8BO_I-is-JaMwMW5c_gQ,4,I booked a table here for brunch and it did no...,0,fo4mpUqgXL2mJqALc9AvbA
1,4JNXUYY8wbaaDmk3BPzlWw,0,2012-01-20,0,cf9RrqHY9eQ9M53OPyXLtg,4,Came here for lunch after a long night of part...,0,TVvTtXwPXsvrg2KJGoOUTg
2,4JNXUYY8wbaaDmk3BPzlWw,0,2017-05-10,0,BvmhSQ6WFm2Jxu01G8OpdQ,5,Loved the fried goat cheese in tomato sauce al...,0,etbAVunw-4kwr6VTRweZpA
3,4JNXUYY8wbaaDmk3BPzlWw,0,2014-05-03,0,IoKp9n1489XohTV_-EJ0IQ,5,"Love the outdoor atmosphere. Price was right, ...",0,vKXux2Xx3xcicTgYZoR0pg
4,4JNXUYY8wbaaDmk3BPzlWw,0,2014-06-04,0,7YNmSq7Lb1zi4SUKXaSjfg,5,Best steak in Vegas. Best mashed potatoes in V...,3,e3s1x4LLqfSkRTWDy_-Urg

In [12]:
df = workbook.parse(sheet_name='Biz_id_ujHia', header=2)
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujHiaprwCQ5ewziu0Vi9rw,0,2013-01-20,0,XN1OyFgh0Nf1BRsyFacoeA,5,I read a lot of reviews about this buffet so o...,1,wcKvC0jov-kAHg-GIvWJqg
1,ujHiaprwCQ5ewziu0Vi9rw,0,2011-06-27,0,A8s89uUoUVbTwDwhJ7yH0Q,4,I do like the Bellagio buffet. Its a toss up b...,0,qr9hmaIxq1z9ycgT28PpRw
2,ujHiaprwCQ5ewziu0Vi9rw,0,2013-02-28,0,LpTnbz9qhjbhOvFB6JCMhw,2,Had dinner here and nothing really special com...,0,C7IrOaBaxd7tYyFnb4b-lw
3,ujHiaprwCQ5ewziu0Vi9rw,0,2012-11-13,0,DBRf92L7MMl5CL4VAqT4KA,4,Went for brunch/lunch with my family... We opt...,0,MVj_1U4D5h7iDtu5TG0d2Q
4,ujHiaprwCQ5ewziu0Vi9rw,0,2011-06-28,0,c_7DC_ZC5Nf-2X-kHNZcuw,5,There is reason this is the most popular Sunda...,0,Auxu_C_QmuyM_DW0jFK_hA

#### Saving Data
Once we have data loaded that we may want to export back out, we use the **`.to_csv()`** or **`.to_excel()`** methods of any DataFrame object.

In [13]:
# Write data to a CSV file 
# Notice how we have to pass index=False if we do not want it included in our output
df.to_csv('NewSavedView.csv', index=False)

In [14]:
# Write data to an Excel file 
df.to_excel('NewSavedView.xlsx')

#### Summary

Importing other file formats (JSONs, etc) into DataFrames are pretty similar. See pandas documentation for the rest.